<!doctype html>
<html class="no-js" lang="" ng-app="camManager">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="container" ng-controller="MainCtrl">
        <div class="page-header">
            <h1>Cameras manager for 4 Elmo QBIC MS-1</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        Connexion status with proxy server : 
                        <span class="label" ng-class="{'label-success': lifeState}" ng-if="lifeState">OK</span>
                        <span class="label" ng-class="{'label-warning': !lifeState}" ng-if="!lifeState">KO</span>
                    </div>
                    <div class="col-md-4">
                        Rig orientation : 
                        <div class="btn-group">
                            <label class="btn btn-info btn-group-xs" ng-model="rigOrientation" btn-radio="'up'">&uarr;</label>
                            <label class="btn btn-info btn-group-xs" ng-model="rigOrientation" btn-radio="'down'">&darr;</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Selected camera :
                        <div class="btn-group">
                            <label class="btn btn-info btn-group-xs" ng-model="connectedCam" btn-radio="'1'">1</label>
                            <label class="btn btn-info btn-group-xs" ng-model="connectedCam" btn-radio="'2'">2</label>
                            <label class="btn btn-info btn-group-xs" ng-model="connectedCam" btn-radio="'3'">3</label>
                            <label class="btn btn-info btn-group-xs" ng-model="connectedCam" btn-radio="'4'">4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div camera camera-id="1" camera-data="camerasData" rig-orientation="rigOrientation"></div>

            <div camera camera-id="2" camera-data="camerasData" rig-orientation="rigOrientation"></div>

            <div camera camera-id="3" camera-data="camerasData" rig-orientation="rigOrientation"></div>

            <div camera camera-id="4" camera-data="camerasData" rig-orientation="rigOrientation"></div>
        </div>
    </div>

    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>

    <script src="js/external/ui-bootstrap-tpls-0.9.0.js"></script>

    <script src="js/start.js"></script>

    <script src="js/services/life-service.js"></script>
    <script src="js/services/camera-service.js"></script>
    <script src="js/factories/camera-factory.js"></script>
    <script src="js/directives/camera-directive.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
