<div class="col-md-3">
    <p>
        Camera {{ id }} - QBIC-VOG-{{id}}
    </p>
    <p>
        <b>Settings :</b>
    <p>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>Light Metering</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Angle</td>
                <td><a href="#" editable-number="user.email">{{ user.email || 0 }}</a></td>
            </tr>
            <tr>
                <td>Distortion Correction</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Hand-Shake Correction</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Auto White Balance</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Auto Exposure</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Resolution</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Exposure / shutter speed</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
            <tr>
                <td>Exposure / gain level</td>
                <td><a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></td>
            </tr>
        </table>
    </div>
    <p>
        <b>Preview : 400x240px</b>
    <p>
    <div>
        <img ng-src="{{cameraThumb || 'img/thumb.jpg'}}" class="rotateCounterClock" alt="Responsive image">
    </div>
</div>