<div class="col-md-3">
    <p>
        Camera {{ id }} - QBIC-VOG-{{ id }}
    </p>
    <p>
        <b>Settings :</b>
    <p>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>camera_clock</td>
                <td>{{ cameraData[id].settings.camera_clock }}</td>
            </tr>
            <tr>
                <td>el_ae_control</td>
                <td>{{ cameraData[id].settings.el_ae_control }}</td>
            </tr>
            <tr>
                <td>el_ae_exposure_level</td>
                <td><a href="#" editable-number="cameraData[id].settings.el_ae_exposure_level">{{ cameraData[id].settings.el_ae_exposure_level || 0 }}</a></td>
            </tr>
            <tr>
                <td>el_ae_light_metering</td>
                <td>{{ cameraData[id].settings.el_ae_light_metering }}</td>
            </tr>
            <tr>
                <td>el_ae_manual_gain</td>
                <td><a href="#" editable-number="cameraData[id].settings.el_ae_manual_gain">{{ cameraData[id].settings.el_ae_manual_gain || 0 }}</a></td>
            </tr>
            <tr>
                <td>el_ae_manual_shutter</td>
                <td><a href="#" editable-number="cameraData[id].settings.el_ae_manual_shutter">{{ cameraData[id].settings.el_ae_manual_shutter || 0 }}</a></td>
            </tr>
            <tr>
                <td>el_angle_deg</td>
                <td>{{ cameraData[id].settings.el_angle_deg }}</td>
            </tr>
            <tr>
                <td>el_battery</td>
                <td>{{ cameraData[id].settings.el_battery }}</td>
            </tr>
        </table>
    </div>
    <p>
        <b>Preview : 424x240px / Original (848x480px)</b>
    <p>
    <div>
        <img ng-src="{{ cameraData[id].picture || 'img/thumb.jpg'}}" 
            class="rotateCounterClock"
            ng-class="{'up': (rigOrientation === 'up'), 'down': (rigOrientation === 'down')}"
            alt="Responsive image">
    </div>
</div>