<div class="col-md-3">
    <p>
        Camera 1 - QBIC-VOG-1
    <p>
    <p>
        <b>Camera settings :</b>
    <p>
    <div>

        <div camera></div>

        <table class="table table-bordered">
            <tr>
                <td>TETS</td>
                <td>dds</td>
            </tr>
        </table>


        <div>Light Metering: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Angle: <a href="#" editable-number="user.number">{{ user.number || 0 }}</a></div>
    </div>
    <div>
        <div>Distortion Correction: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Hand-Shake Correction: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Auto White Balance Setting: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Auto Exposure Setting: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Resolution: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
    </div>
    <div>
        <div>Exposure / shutter speed: <a href="#" editable-number="user.email">{{ user.email || 0 }}</a></div>
    </div>
    <div>
        <div>Exposure / gain level: <a href="#" editable-number="user.email">{{ user.email || 0 }}</a></div>
    </div>
    <p>
        <b>Preview : 400x240px :</b>
    <p>
    <div>
        <img ng-src="{{cameraThumb || 'img/thumb.jpg'}}" class="rotateCounterClock" alt="Responsive image">
    </div>
</div>